@import url('http://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Pacifico');
@import url('http://fonts.googleapis.com/css?family=Oswald');

html {
	font-family: Lobster;
	padding: 0;
}

body {
	padding: 0;
}

.logo-container {
	margin-left: 4%;
}

.header-logo {
	width: 45%;
}

.main-menu-container {
}

.container {
	height: 1100px;
	width: 100%;
}
.row {
	width: 100%;
	float: left;
}
.col {
	height: 100%;
	float: left;
}

.logo-container {
	background-image: url("../images/logo.png");
	background-size: 100% 100%;
}

.main-menu-container {
	background-image: url("../images/menu-strip.png");
	background-size: 100% 100%;
}

.main-menu-item {
	font-size: 2vw;
	//padding: 0.5vw 0 0 0;
	color: black;
	text-shadow: 1px 1px white;
}

div.main-menu-item a {
	text-decoration: none;
	color: inherit;
}

div.main-menu-item a:hover {
	//font-size: 4vh;
	margin-left: -10px;
	margin-bottom: -10px;
	text-decoration: none;
	//color: #3284db;
	background-color: black;
	border-radius: 3px;
	color: white;
	text-shadow: 2px 2px black;
	//font-family: "Oswald";
}

.main-menu {
	background: url('../images/menu-strip.png') no-repeat 0 0 scroll;
	background-size: 100% 100%;
	height: 150px;
	padding-left: 7.5%;
	padding-right: 7.5%;
	color: black;
	font-size: 25px;
	margin-left: -1%;
	margin-right: -1%;
	padding-top: .5%;
	margin-bottom: 5%;
}

div.main-menu a {
	display: inline-block;
	text-decoration: none;
	margin-right: 50px;
	color: white;
}

div.main-menu a:hover {
	color: black;
}

div.main-container {
	margin-left: 15%;
	width: 70%;
}

div.to-top {
	position: fixed;
	bottom: 1%;
	right: 1%;
}

div.to-top a {
	text-decoration: none;
	color: black;
}

div.to-top a:hover {
	text-decoration: none;
	color: #3284DB;	
}

.go-up-img {
	width: 30px;
	height: 30px;
}

.main-container {
	margin-top: 2.5%;
}

.menu-buttons {
	float: right;
	cursor: pointer;
}

.menu-button {
	margin-right: 20px;
}

.menu-button:hover {
	color: white;
}

menu-buttons menu-button a {
	color: red;
}

.thumbnail-div-pic {
	width: 90%;
	height: 90%;
	margin: 5% 5% 5% 5%;
	border-radius: 5px;
	border: solid 1px white;
}

.div-pic {
	width: 90%;
	height: 25%;
}

.text-stroke {
	text-shadow:
		   3px 3px 0 #000,
		 -1px -1px 0 #000,  
		  1px -1px 0 #000,
		  -1px 1px 0 #000,
		   1px 1px 0 #000;
}

.fixed-part {
	position: fixed;
	top: 0;
}