.el-31 {
	background-color: #E03DE0;
}
.el-32 {
	background-color: #63B510;
}
.el-33 {
	background-color: #384D0F;
}
.el-34 {
	background-color: #7419CF;
}
.el-35 {
	background-color: #992295;
}
.el-36 {
	background-color: #2EBFB8;
}
.el-37 {
	background-color: #E6F035;
}
.el-38 {
	background-color: #42450B;
}
.el-39 {
	background-color: #DE4B9E;
}
.el-40 {
	background-color: #1ADB2A;
}
.el-41 {
	background-color: #0A0F45;
}
.el-42 {
	background-color: #424523;
}
