.container {
	height: 1000px;
	width: 100%;
}
.row {
	width: 100%;
	float: left;
}
.col {
	height: 100%;
	float: left;
}
.el-14 {
	background-color: #E03DE0;
}
.el-15 {
	background-color: #63B510;
}
.el-16 {
	background-color: #384D0F;
}
.el-17 {
	background-color: #7419CF;
}
.el-18 {
	background-color: #992295;
}
.el-19 {
	background-color: #2EBFB8;
}
.el-20 {
	background-color: #E6F035;
}
.el-21 {
	background-color: #42450B;
}
.el-22 {
	background-color: #DE4B9E;
}
.el-23 {
	background-color: #1ADB2A;
}
.el-24 {
	background-color: #1D70CF;
}
.el-25 {
	background-color: #E03DE0;
}
.el-26 {
	background-color: #63B510;
}
.el-27 {
	background-color: #384D0F;
}
.el-28 {
	background-color: #7419CF;
}
.el-29 {
	background-color: #992295;
}
.el-30 {
	background-color: #2EBFB8;
}
.el-31 {
	background-color: #E6F035;
}
.el-32 {
	background-color: #42450B;
}
.el-33 {
	background-color: #DE4B9E;
}
.el-34 {
	background-color: #1ADB2A;
}
.el-35 {
	background-color: #1D70CF;
}
