.container {
	height: 1100px;
	width: 100%;
}
.row {
	width: 100%;
	float: left;
}
.col {
	height: 100%;
	float: left;
}

.logo-container {
	background-image: url("../images/logo.png");
	background-size: 100% 100%;
}

.main-menu-container {
	background-image: url("../images/menu-strip.png");
	background-size: 100% 100%;
}

.main-menu-item {
	font-size: 4vh;
	//padding: 0.5vw 0 0 0;
	color: black;
	text-shadow: 1px 1px white;
}

div.main-menu-item a {
	text-decoration: none;
	color: inherit;
}

div.main-menu-item a:hover {
	font-size: 4vh;
	margin-left: -10px;
	margin-bottom: -10px;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px black;
	font-family: "Oswald";
}

.main-site-container {
	//background-color: #174373;
	//border: 15px solid transparent;
	//border-radius: 5px;
    //border-image: url("../images/index/main-border.png") 30 30 stretch;
	//box-shadow: 10px 10px 10px #888888;
}

.list-header {
	text-align: center;
	font-size: 2vw;
}

.lists-nav-arrow {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.lists-body {
	border: inset 2px black;
	border-radius: 5px;
	width: 90%;
	margin: 0% 5% 0% 5%;
	overflow: scroll;
}

.list-container {
	border: 15px solid transparent;
	border-radius: 5px;
    border-image: url("../images/index/main-border.png") 30 30 stretch;
}

.list-item-container {
	width: 98%;
	border: solid 1px black;
	margin: 1% 1% 1% 1%;
}

.list-item-title {
	font-size: 25px;
	text-align: center;
	color: #3284DB;
}

.list-item-description {
	text-align: center;
	font-family: "Oswald";
	font-size: 15px;
	margin-top: 5px;
}

.list-item-details {
	text-align: right;
	color: #3284DB;
	cursor: pointer;
}

.details-container {
	
}

.details-title {
	font-size: 5vh;
	text-align: center;
	padding-top: 5%;
	color: #3284DB;
	//text-shadow: 2px 2px 0px black;
}

.details-author-container {
	
}

.details-author {
	border: solid 3px black;
	border-radius: 10px;
	width: 95%;
	height: 100%;
	margin: 0% 2.5% 0% 2.5%;
	background-color: #3284DB;
	box-shadow: 5px 5px 1px grey;
	font-family: "Oswald";
	font-size: 25px;
}

.details-body {
	font-family: "Oswald";
	text-align: justify;
}

.details-main {
	//overflow: scroll;
}