.container {
	height: 1000px;
	width: 100%;
}
.row {
	width: 100%;
	float: left;
}
.col {
	height: 100%;
	float: left;
}
.el-1 {
	height: 33%;
	//background-color: #176354;
}
.el-2 {
	width: 25%;
	//background-color: #176354;
}
.el-3 {
	width: 25%;
	//background-color: #176354;
}
.el-4 {
	width: 50%;
	//background-color: #176354;
}
.el-5 {
	height: 67%;
	//background-color: #176354;
}
.el-6 {
	width: 25%;
	//background-color: #176354;
}
.el-7 {
	width: 75%;
	//background-color: #176354;
}
